.card {
    box-shadow: 0 4px 8px 0 rgba(210, 10, 10, 0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .cardDetalles {
    box-shadow: 0 4px 8px 0 rgba(210, 10, 10, 0.2);
    transition: 0.3s;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }
  .cardDetalles:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }